body {
  margin: 0;
  background-color: #000;
  font-family: "Helvetica";
  color: #fff;
}

.component-list {
  background-color: #444;
  position: absolute;;
  right: 0;
  width: 150px;
  overflow: auto;
}

.component-option {
  padding-left: 4px;
  width: 146px;
  cursor: pointer;
}
.component-option:hover {
  background-color: #000;
}


.component-rect {
  stroke: #ddd;
  stroke-width: 1;
  fill: rgba(0,0,0,.5);
  cursor: move;
}
.component-terminal {
  fill: #ddd;
}
.component-text {
  fill: #fff;
  font-family: "Helvetica";
  font-size: 16px;
  pointer-events: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;
}

.wire {
  stroke: #ddd;
  cursor: pointer;
}
