body {
  margin: 0;
  background-color: #000;
  font-family: "Helvetica";
  color: #fff;
}

.module-list {
  background-color: #444;
  position: absolute;;
  right: 0;
  width: 150px;
  overflow: auto;
}

.module-option {
  padding-left: 3px;
  width: 147px;
  cursor: pointer;
}
.module-option:hover {
  background-color: #000;
}


.module {
  stroke: #ddd;
  stroke-width: 1;
  fill: rgba(0,0,0,.5);
}
text {
  fill: #fff;
  font-family: "Helvetica";
  font-size: 12;
}
